.blog-show {
  box-sizing: border-box;
  max-width: 650px;
  margin: 0 auto;
  padding: 10px;
  .blog-container {
    &__title {
      margin-bottom: 15px;
      border-bottom: 1px solid #ccc;
      font-weight: bold;
    }
    &__image {
    }
    &__author {
      font-size: 12px;
      margin-top: 10px;
      margin-bottom: 15px;
      padding: 2px;
    }
    &__article {
      min-height: 100px;
      font-size: 16px;
      margin-bottom: 30px;
      border: 1px dotted #ccc;
      border-radius: 4px;
      padding: 4px;
    }
  }
  .action-container {
    display: flex;
    height: 25px;
    justify-content: center;
    &__edit {

    }
    &__destroy {
      margin-left: 10px;
      &__btn {
      }
    }
  }
}
