.blog-show {
  box-sizing: border-box;
  max-width: 650px;
  margin: 0 auto;
  padding: 10px;
  .blog-container {
    &__title {
      margin-bottom: 15px;
      border-bottom: 1px solid #ccc;
    }
    &__image {
    }
    &__author {
      size: 15px;
      margin-bottom: 15px;
      margin-left: 5px;
    }
    &__article {
      size: 16px;
      margin-bottom: 30px;
      margin-left: 5px;
    }
  }
  .action-container {
    display: flex;
    height: 25px;
    justify-content: center;
    &__edit {

    }
    &__destroy {
      margin-left: 10px;
      &__btn {
      }
    }
  }
}
