.header {
  box-sizing: border-box;
  height: $header-h;
  max-width: 650px;
  margin: 0 auto;
  .header-container {
    display: flex;
    justify-content: space-between;
    &__title-container {
      &__title {
        margin-left: 20px;
        line-height: $header-h;
      }  
    }
    &__user-name {
      margin-right: 20px;
      line-height: $header-h;
      color: #666;
    }
  }
}
