.header {
  box-sizing: border-box;
  height: $header-h;
  width: 100%;
  margin-bottom: 10px;
  .header-container {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    background-color: #ddd;
    &__title-container {
      &__title {
        line-height: $header-h;
      }  
    }
    &__user-name {
      line-height: $header-h;
    }
  }
}
