.navbar {
  box-sizing: border-box;
  width: 100%;
  height: $navbar-h;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #bbb;
  margin-bottom: 20px;
  .navbar-left {
    width: 80%;
    display: flex;
    &__item {
      margin-right: 20px;
      height: 100%;
      line-height: 100%;
      display: inline-block;
      text-decoration: none;
      color: #333;
      &:hover {
        color: #666;
      }
    }
  }
  .navbar-right {
    width: 20%;
    display: flex;
    justify-content: space-around;
    &__item {
      height: 100%;
      line-height: 100%;
      display: inline-block;
      text-decoration: none;
      color: #333;
      &:hover {
        color: #666;
      }
    }
  }

}
